* {
  background-color: silver;

}

.flex-box{
  display: flex;
  max-width: none;
  align-items: center;
  border: 6px solid black;
  padding: 8px;

}

h1 {
  top: 0;
  left: 0;
  color: rgb(226, 14, 14);
  justify-content: left;
  text-align: left;
  line-height: .5px;
  font-size: 48px;
  flex-direction: column;

}

.top-nav-links {
    font-size: 18px;
    justify-content: right;
    text-align: right;

}