@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html, * {
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(rgb(171, 64, 185), rgb(168, 168, 168));
    border: 5px solid black;
    padding: 8px;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: silver;
    position: fixed;
    width: 100%;

}

h1 {
    display: flex;
    color: rgb(0, 0, 0);
    line-height: 40px;
    font-size: 48px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.top-links {
    display: flex;
    margin-left: auto;
    font-size: 18px;
    justify-content: space-between;

}

a {
  margin-right: 25px;
}

main {
  padding-top: 150px;
}

.page-title{
 margin-top: 8px;
 font-size: 30px;
 font-family: 'Roboto', sans-serif;
 text-align: center;
 font-weight: bold;

}

.my-projects{
    margin-top: 50px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}